<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Financeiro Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente/vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente/vendors/css/vendor.bundle.addons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente/css/compro-pagamento.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>

<body>
    <div class="container-scroller">
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="{{ url_for('cliente_home_route.home') }}">
                    <img style="margin-top: 15px;" src="{{ url_for('static', filename='cliente/images/logo.png') }}" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="{{ url_for('static', filename='cliente/images/logo.png') }}" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Olá, {{ session.get('usuario_nome') }}</span>
                            <img class="img-xs rounded-circle" src="{{ url_for('static', filename='cliente/images/faces/face1.jpg') }}" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a href="{{ url_for('cliente_editar_cadastro_route.home') }}" class="dropdown-item mt-2">
                                Dados da conta
                            </a>

                            <a href="{{ url_for('cliente_login_route.logout') }}" class="dropdown-item">
                                Sair
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    {% block body_content %}

                    {% endblock %}
                </div>

                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 -
                            <a href="" target="_blank"> Admin Financeiro</a>. Todos os diretos reservados.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Pop3 Soluções Web
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    {% block body_modals %}

    {% endblock %}

    <script src="{{ url_for('static', filename='cliente/vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static', filename='cliente/vendors/js/vendor.bundle.addons.js') }}"></script>
    <script src="{{ url_for('static', filename='cliente/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='cliente/js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='cliente/js/dashboard.js') }}"></script>

    {% block footer_scripts %}

    {% endblock %}

</body>

</html>