{% extends 'cliente/base.html' %}
{% block body_content %}
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Editar Cadastro</h4>
                    <form action="{{ url_for('cliente_editar_cadastro_route.home') }}" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" id="txtEmail" name="txtEmail" value="{{ dados["email"] }}">
                        </div>
                        <div class="form-group">
                            <label>Telefone</label>
                            <input type="phone" class="form-control" id="txtTelefone" name="txtTelefone" value="{{ dados["telefone"] }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}