{% extends 'cliente/base.html' %}
{% block body_content %}
    <div id="ajaxLoader"
         style="position: absolute; z-index: 1000; background-color: rgba(255,255,255,0.9); height: 100%; width: 100%; padding-top: 25vh; display: none;">
        <center>
            <h1>
                Processando Aguarde!
            </h1>
            <img src="{{ url_for('static', filename='admin/images/loader.gif') }}" alt="Loading">
        </center>
    </div>
    <div id="ajaxFinish"
         style="position: absolute; z-index: 1000; background-color: rgba(255,255,255,0.9); height: 100%; width: 100%; padding-top: 25vh; display: none; padding-left: 25vw; padding-right: 25vw;">
        <center>
            <h1>
                Pagamento está sendo processado, assim que for confirmado você receberá um email de confirmação!
            </h1>
            <a href="{{ url_for('cliente_home_route.home') }}" class="btn btn-primary btn-sm btn-block pull-right mt-4" type="button">Voltar para home</a>
        </center>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('cliente_home_route.home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('cliente_pagar_route.home', cobranca_id=id) }}">Forma de
                Pagamento</a></li>
            <li class="breadcrumb-item active" aria-current="page">À vista</li>
        </ol>
    </nav>


    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title">Dados Cobrança</h4>
                    <div class="row">
                        <div class="col-md-2"><strong>ID:</strong> <br> {{ cobranca_dados["id"] }}</div>
                        <div class="col-md-2"><strong>Nº Inscrição:</strong> <br> {{ cobranca_dados["inscricao"] }}
                        </div>
                        <div class="col-md-2"><strong>Nome:</strong> <br>{{ cobranca_dados["nome"] }}</div>
                        <div class="col-md-2"><strong>Ano:</strong> <br>{{ cobranca_dados["ano"] }}</div>

                        <div class="col-md-2"><strong>Valor Total:</strong>
                            <br> {{ "R$ {:,.2f}".format(cobranca_dados["valor"]) }}</div>


                    </div>


                </div>

            </div>
        </div>
    </div>


    <form id="frmFinalizarPagamento" name="frmFinalizarPagamento" method="POST"
          action="https://croba.poppay.co/pagar-finalizar-post">


        <div id="msgErro"></div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">


                            <div class="row">
                                <div class="col-md-12" style="float: left">
                                    <h4 class="mb-3">Dados do Cliente</h4>

                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="primeiroNome">Nome Completo</label>
                                            <input type="text" class="form-control" id="txtNome" name="txtNome"
                                                   placeholder="" value="">


                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="primeiroNome">CPF</label>
                                            <input type="text" class="form-control" id="txtCpf" name="txtCpf"
                                                   placeholder="" value="">

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="email">Email <span class="text-muted">(Opcional)</span></label>
                                            <input type="email" class="form-control" id="txtEmail" name="txtEmail"
                                                   placeholder="fulano@exemplo.com" value="">

                                        </div>
                                    </div>


                                    <div class="mb-3">
                                        <label for="endereco">Endereço</label>
                                        <input type="text" class="form-control" id="txtEndereco" name="txtEndereco"
                                               placeholder="Rua dos bobos, nº 0" value="">

                                    </div>


                                    <div class="row">
                                        <div class="col-md-3 mb-3">
                                            <label for="cep">CEP</label>
                                            <input type="text" class="form-control" id="txtCep" name="txtCep"
                                                   placeholder="">

                                        </div>

                                        <div class="col-md-4 mb-3">
                                            <label for="estado">Estado</label>
                                            <select class="custom-select d-block w-100" id="txtEstado" name="txtEstado">

                                                <option value="AC">Acre</option>
                                                <option value="AL">Alagoas</option>
                                                <option value="AP">Amapá</option>
                                                <option value="AM">Amazonas</option>
                                                <option value="BA" selected="selected">Bahia</option>
                                                <option value="CE">Ceará</option>
                                                <option value="DF">Distrito Federal</option>
                                                <option value="ES">Espírito Santo</option>
                                                <option value="GO">Goiás</option>
                                                <option value="MA">Maranhão</option>
                                                <option value="MT">Mato Grosso</option>
                                                <option value="MS">Mato Grosso do Sul</option>
                                                <option value="MG">Minas Gerais</option>
                                                <option value="PA">Pará</option>
                                                <option value="PB">Paraíba</option>
                                                <option value="PR">Paraná</option>
                                                <option value="PE">Pernambuco</option>
                                                <option value="PI">Piauí</option>
                                                <option value="RJ">Rio de Janeiro</option>
                                                <option value="RN">Rio Grande do Norte</option>
                                                <option value="RS">Rio Grande do Sul</option>
                                                <option value="RO">Rondônia</option>
                                                <option value="RR">Roraima</option>
                                                <option value="SC">Santa Catarina</option>
                                                <option value="SP">São Paulo</option>
                                                <option value="SE">Sergipe</option>
                                                <option value="TO">Tocantins</option>

                                            </select>

                                        </div>


                                        <div class="col-md-5 mb-3">
                                            <label for="pais">País</label>
                                            <select class="custom-select d-block w-100" id="txtPais" name="txtPais">
                                                <option>Brasil</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">

                            <div class="row">

                                <h4 class="col-md-12 mb-3">Dados do Cartão</h4>


                                <div class="col-md-4 mb-3">
                                    <label for="cc-nome">Número do cartão</label>
                                    <input type="number" class="form-control" id="txtNumeroCartao"
                                           name="txtNumeroCartao"
                                           placeholder="" data-inputmask="'mask': '9999 9999 9999 9999'">


                                </div>

                                <div class="col-md-3 mb-3">
                                    <label for="cc-nome">Bandeira</label>
                                    <input type="text" class="form-control" id="txtBandeira" name="txtBandeira"
                                           readonly>
                                </div>


                                <div class="col-md-5 mb-3">
                                    <label for="cc-numero">Nome impresso no cartão</label>
                                    <input type="text" class="form-control" id="txtNomeImpressoCartao"
                                           name="txtNomeImpressoCartao" placeholder="">

                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="cc-expiracao">Validade do cartão</label>

                                    <select class="custom-select d-block w-100" id="txtValidadeCartaoMes"
                                            name="txtValidadeCartaoMes" style="float: left">

                                        <option value="01">1 - Janeiro</option>
                                        <option value="02">2 - Fevereiro</option>
                                        <option value="03">3 - Março</option>
                                        <option value="04">4 - Abril</option>
                                        <option value="05">5 - Maio</option>
                                        <option value="06">6 - Junho</option>
                                        <option value="07">7 - Julho</option>
                                        <option value="08">8 - Agosto</option>
                                        <option value="09">9 - Setembro</option>
                                        <option value="10">10 - Outubro</option>
                                        <option value="11">11 - Novembro</option>
                                        <option value="12">12 - Dezembro</option>
                                    </select>


                                </div>
                                <div class="col-md-4 mb-3">

                                    <label for="cc-expiracao">&nbsp</label>
                                    <select class="custom-select d-block w-100" style="float: left"
                                            id="txtValidadeCartaoAno" name="txtValidadeCartaoAno">
                                        {% for ano in anos_select %}
                                            <option value="{{ ano }}">{{ ano }}</option>
                                        {% endfor %}
                                    </select>

                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="cc-cvv">Código de segurança</label>
                                    <input type="text" class="form-control" placeholder="" id="txtCodigoSeguranca"
                                           name="txtCodigoSeguranca">

                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="cc-cvv">Valor do pagamento:</label>
                                    <input class="form-control" type="text" placeholder=""
                                           value="{{ "R$ {:,.2f}".format(valor_pagar) }}" readonly>
                                </div>

                                <div class="col-md-6 mb-3 mt-5">

                                    À vista

                                </div>

                                <div style="margin-bottom: 5.7rem !important;" class="col-md-6 align-certo"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <input type="hidden" name="_token" value="E9gbD5yF0aMEpsRsUNgZqhHoKHj3VXR47shZ6tMl">
            <div class="col-md-8"></div>
            <div class="col-md-4">

                <div>
                    <div style="float: left; width: 49%">
                        <a href="{{ url_for('cliente_pagar_route.home', cobranca_id=id) }}"
                           class="btn btn-default btn-sm btn-block pull-right mt-4">Voltar</a>
                    </div>
                    <div style="float: left; width: 49%; margin-left: 2%">


                        <button id="btnEnviar" class="btn btn-primary btn-sm btn-block pull-right mt-4" type="button">
                            Finalizar Pagamento
                        </button>

                    </div>
                </div>
            </div>


        </div>

    </form>
{% endblock %}
{% block footer_scripts %}
    <script src="{{ url_for('static', filename='admin/js/jquery.inputmask.js') }}"></script>
    <script>
        var tgdeveloper = {

            /**
             * getCardFlag
             * Return card flag by number
             *
             * @param cardnumber
             */
            getCardFlag: function (cardnumber) {
                var cardnumber = cardnumber.replace(/[^0-9]+/g, '');

                var cards = {
                    visa: /^4[0-9]{12}(?:[0-9]{3})/,
                    mastercard: /^5[1-5][0-9]{14}/,
                    hipercard: /^(606282\d{10}(\d{3})?)|(3841\d{15})/,
                    elo: /^((((636368)|(438935)|(504175)|(451416)|(636297))\d{0,10})|((5067)|(4576)|(4011))\d{0,12})/
                };

                for (var flag in cards) {
                    if (cards[flag].test(cardnumber)) {
                        return flag;
                    }
                }

                return false;
            }

        }

        $(document).ready(function () {

            $('#txtNumeroCartao').change(function () {
                $("#txtBandeira").val(tgdeveloper.getCardFlag($('#txtNumeroCartao').val()).toUpperCase());
            });

            $('#btnEnviar').click(function () {
                $("#ajaxLoader").show();
                console.log("CLICADO")
                var form = new FormData();
                form.append('txtPendenciaId', "{{ id }}");
                form.append('txtParcelas', "{{ parcelas }}");
                form.append('txtBandeira', tgdeveloper.getCardFlag($("#txtNumeroCartao").val()).toUpperCase());
                form.append('txtValidadeCartaoAno', $("#txtValidadeCartaoAno").val());
                form.append('txtValidadeCartaoMes', $("#txtValidadeCartaoMes").val());
                form.append('txtNumeroCartao', $("#txtNumeroCartao").val());
                form.append('txtCodigoSeguranca', $("#txtCodigoSeguranca").val());
                form.append('txtNomeImpressoCartao', $("#txtNomeImpressoCartao").val());
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('cliente_pagar_route.ajax_send_card_request') }}",
                    data: form,
                    processData: false,
                    contentType: false
                }).done(function (data) {
                    console.log(data);
                    $("#ajaxLoader").hide();
                    if( data["retorno"]["retorno"]["resposta_financeira"] === "AUTORIZACAO_VALIDA" ){
                        $("#ajaxFinish").show();
                    }else{
                        console.log("FULLSATACK");
                        $("#ajaxFinish").show();
                        $("#ajaxFinish h1").html("Por favor tente novamente mais tarde.");
                    }
                });
            });
        });
    </script>
{% endblock %}