{% extends 'cliente/base.html' %}
{% block body_content %}
    <div class="row purchace-popup">
        <div class="col-12">
                            <span class="d-block d-md-flex align-items-center">
                                <p style="margin-top: 16px; font-size: 16px;">Verificação de pagamentos </p>
                                <a class="btn ml-auto download-button d-none d-md-block" href="{{ url_for('cliente_home_route.home') }}">Pagamentos em Aberto</a>
                                <a class="btn purchase-button mt-4 mt-md-0" href="{{ url_for('cliente_home_route.geral') }}">Pagamentos Realizados</a>
                            </span>
        </div>
    </div>


    <div class="row purchace-popup">
        <div class="col-12">
            <h3 style="margin-bottom: 15px;">Todos os Pagamentos</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pagamentos realizados</h4>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Inscrição
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Forma
                                </th>
                                <th>
                                    Ano
                                </th>
                                <th>
                                    Detalhes
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pagamento in pagamentos %}

                            <tr>
                                <td class="font-weight-medium">
                                    {{ pagamento["ID_PAGAMENTO"] }}
                                </td>
                                <td>
                                    {{ pagamento["ASSOCIADO"] }}
                                </td>
                                <td>
                                    {{ pagamento["INSCRICAO_ASSOCIADO"] }}
                                </td>
                                <td>
                                    {{ pagamento["VALOR_PAGAMENTO"] }}
                                </td>
                                <td class="text-success">
                                    <i class="mdi mdi-credit-card-multiple"></i>
                                    Cartão
                                </td>
                                <td>
                                    {{ pagamento["ANO_PAGAMENTO"] }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    <nav class="pull-right" aria-label="Page navigation example">
                        {{ paginacao|safe }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}