{% extends 'cliente/base.html' %}
{% block body_content %}
    <div class="row purchace-popup">
        <div class="col-12">
                            <span class="d-block d-md-flex align-items-center">
                                <p style="margin-top: 16px; font-size: 16px;">Verificação de pagamentos </p>
                                <a class="btn ml-auto download-button d-none d-md-block" href="{{ url_for('cliente_home_route.home') }}">Pagamentos em Aberto</a>
                                <a class="btn purchase-button mt-4 mt-md-0" href="{{ url_for('cliente_home_route.geral') }}">Pagamentos Realizados</a>
                            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Valores em Aberto</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Inscrição
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Ano
                                </th>
                                <th>
                                    Detalhes
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pagamento in pagamentos_em_aberto %}
                            <tr>
                                <td class="font-weight-medium">
                                    {{ pagamento["ID PENDENCIA"] }}
                                </td>
                                <td>
                                    {{ pagamento["ASSOCIADO"] }}
                                </td>
                                <td>
                                    {{ pagamento["INSCRICAO ASSOCIADO"] }}
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Em Aberto
                                </td>
                                <td>
                                    {{ pagamento["ANO PENDENCIA"] }}
                                </td>
                                <td>
                                    <a href="{{ url_for('cliente_pagar_route.home', cobranca_id=pagamento["ID PENDENCIA"]) }}" class="spacer btn btn-danger">Pagar com Cartão</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <nav class="pull-right" aria-label="Page navigation example">
                        {{ paginacao|safe }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}