<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Financeiro Login Cliente</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='cliente/vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente/vendors/css/vendor.bundle.addons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente/css/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='cliente/images/favicon.png') }}"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        <img width="200px" style="margin-bottom: 50px;" class="col-md-6 offset-md-3"
                             src="{{ url_for('static', filename='cliente/images/logo-login.png') }}">
                        <form action="{{ url_for('cliente_login_route.login') }}" method="post">
                            {% with flash_data = get_flashed_messages() %}
                                {% if flash_data %}
                                    <div id="divMessage" class="alert alert-danger alert-block">
                                        <strong>{{ flash_data[0] }}</strong>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <div class="form-group">
                                <label class="label">Usuário</label>
                                <div class="input-group">
                                    <select id="txtCategoria" name="txtCategoria">
                                        <option value="APD">APD</option>
                                        <option value="ASB">ASB</option>
                                        <option value="CD" selected="selected">CD</option>
                                        <option value="EPAO">EPAO</option>
                                        <option value="LB">LB</option>
                                        <option value="TPD">TPD</option>
                                        <option value="TSB">TSB</option>
                                    </select>

                                    <input type="text" id="txtLogin" name="txtLogin" class="form-control"
                                           placeholder="Número de Inscrição">
                                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Senha</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="txtSenha" placeholder="*********">
                                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary submit-btn btn-block">Login</button>
                            </div>
                            <div class="form-group d-flex justify-content-between">
                                <a href="#" class="text-small forgot-password text-black">Esqueceu sua Senha?</a>
                            </div>
                            <div class="text-block text-center my-3">
                                <span class="text-small font-weight-semibold">Deseja Solicitar Acesso ?</span>
                                <a href="{{ url_for('cliente_login_route.recuperar_senha_cliente') }}" class="text-black text-small">Clique Aqui</a>
                            </div>
                        </form>
                    </div>
                    <br><br><br>
                    <p class="footer-text text-center">copyright © 2019 Cliente Financeiro. Todos os Direitos
                        Reservados.</p>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ url_for('static', filename='cliente/vendors/vendor.bundle.base.js') }}"></script>
<script src="{{ url_for('static', filename='cliente/vendors/vendor.bundle.addons.js') }}"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="{{ url_for('static', filename='cliente/js/off-canvas.js') }}"></script>
<script src="{{ url_for('static', filename='cliente/js/misc.js') }}"></script>
<!-- endinject -->
</body>

</html>