<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sistema Financeiro CRO-BA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    <style>

        @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
html, body, .main-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-wrapper {
  font-size: 7vmin;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signboard-wrapper {
    width: 75vmin;
    height: 50vmin;
    margin: 20px;
  position: relative;
  flex-shrink: 0;
  transform-origin: center 2.5vmin;
  animation: 1000ms init forwards, 1000ms init-sign-move ease-out 1000ms, 3000ms sign-move 2000ms infinite;
}

p {

    margin-top: -60px;
    text-align: center;
    color: #a71010;
    font-weight: 700;

        }


.signboard-wrapper .signboard {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  background-color: #a71010;
  width: 100%;
  height: 35vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  border-radius: 4vmin;
  text-shadow: 0 -0.015em #be2b00;
}
.signboard-wrapper .string {
  width: 30vmin;
  height: 30vmin;
  border: solid 0.9vmin #9f9f9f;
  border-bottom: none;
  border-right: none;
  position: absolute;
  left: 50%;
  transform-origin: top left;
  transform: rotatez(45deg);
}
.signboard-wrapper .pin {
  width: 5vmin;
  height: 5vmin;
  position: absolute;
  border-radius: 50%;
}
.signboard-wrapper .pin.pin1 {
  background-color: #9f9f9f;
  top: 0;
  left: calc(50% - 2.5vmin);
}
.signboard-wrapper .pin.pin2, .signboard-wrapper .pin.pin3 {
  background-color: #ffffff;
  top: 21.5vmin;
}
.signboard-wrapper .pin.pin2 {
  left: 13vmin;
}
.signboard-wrapper .pin.pin3 {
  right: 13vmin;
}

@keyframes init {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes init-sign-move {
  100% {
    transform: rotatez(3deg);
  }
}
@keyframes sign-move {
  0% {
    transform: rotatez(3deg);
  }
  50% {
    transform: rotatez(-3deg);
  }
  100% {
    transform: rotatez(3deg);
  }
}


    </style>


</head>
<body>
<!-- partial:index.partial.html -->

<div class="main-wrapper">
  <div class="signboard-wrapper">
    <div class="signboard">Em manutenção</div>
    <div class="string"></div>
    <div class="pin pin1"></div>
    <div class="pin pin2"></div>
    <div class="pin pin3"></div>
  </div>
</div>


      <p>Estamos atualizando o sistema com melhorias para você, os ajustes estarão normalizados as 14h e 30m.</p>

<!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script>
    function checkStatus(){
        setTimeout(function () {
            $.get("{{ url_for('notification', manutencao=True) }}", function (data) {
                data = JSON.parse(data);
                console.log(typeof data["manutencao"]);
                if(!data["manutencao"]) {
                    window.location.href = "{{ url_for('cliente_login_route.login') }}";
                }else{
                    console.log("Ainda em manutenção!");
                }
            });
            checkStatus();
        }, 10 * 1000)
    }

    checkStatus();
</script>
</body>
</html>