{% extends 'cliente/base.html' %}
{% block body_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('cliente_home_route.home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forma de Pagamento</li>
        </ol>
    </nav>



    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title">Dados Cobrança</h4>
                    <div class="row">
                        <div class="col-md-2"><strong>ID:</strong> <br> {{ cobranca_dados["id"] }}</div>
                        <div class="col-md-2"><strong>Nº Inscrição:</strong> <br> {{ cobranca_dados["inscricao"] }}
                        </div>
                        <div class="col-md-2"><strong>Nome:</strong> <br>{{ cobranca_dados["nome"] }}</div>
                        <div class="col-md-2"><strong>Ano:</strong> <br>{{ cobranca_dados["ano"] }}</div>

{#                        <div class="col-md-2"><strong>Parcelas:</strong> <br>{{ cobranca_dados["parcelas"] }}</div>#}
                        <div class="col-md-2"><strong>Valor Total:</strong>
                            <br> {{ "R$ {:,.2f}".format(cobranca_dados["valor"]) }}</div>


                    </div>


                </div>

            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <div class="table-responsive">

                        <br>


                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Forma de Pagamento
                                </th>
                                <th>
                                    Valor
                                </th>

                                <th style="display: none">
                                    Taxas
                                </th>

                                <th>Total</th>
                                <th> Opções</th>

                            </tr>
                            </thead>


                            <tbody>

                            <form method="POST" action="{{ url_for('cliente_pagar_route.finalizar', crobanca_id=id) }}">
                                <tr>
                                    <td>
                                        À vista
                                    </td>
                                    <td>
                                        {{ "R$ {:,.2f}".format(cobranca_dados["valor"]) }}
                                    </td>

                                    <td style="display: none">
                                        3.85 %
                                    </td>

                                    <td> {{ "R$ {:,.2f}".format(cobranca_dados["valor"]) }}</td>

                                    <td>

                                        <button type="submit" class="spacer btn btn-danger">Selecionar</button>

                                    </td>

                                </tr>


                            </form>


                            <form method="POST" action="{{ url_for('cliente_pagar_route.finalizar', crobanca_id=id) }}">
                                <tr>
                                    <td>
                                        Total parcelado
                                        <select id="txttotalparceladoParcelas" name="txttotalparceladoParcelas">


                                            <!--                                            <option value="1">1 x</option>-->
                                            <option value="2">2 x</option>
                                            <option value="3">3 x</option>
                                            <option value="4">4 x</option>
                                            <option value="5">5 x</option>


                                        </select>
                                    </td>
                                    <td>
                                        {{ "R$ {:,.2f}".format(cobranca_dados["valor"]) }}
                                    </td>

                                    <td style="display: none">
                                        <div id="divTaxa"> 3.85 %</div>
                                    </td>


                                    <td>
                                        <div id="divTotalParcelado">
                                            {{ "R$ {:,.2f}".format(cobranca_dados["valor"]) }}
                                        </div>
                                    </td>

                                    <td>

                                        <button type="submit" class="spacer btn btn-danger">Selecionar</button>

                                    </td>


                                </tr>

                            </form>


                            </tbody>


                        </table>


                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}