{% extends "admin/base.html" %}
{% block body_content %}

    <div class="row purchace-popup">
        <div class="col-12">
            <h3 style="margin-bottom: 15px;">Atualização</h3>
            <span class="d-block d-md-flex align-items-center">
                                <form>
                                    <div class="form-group">
                                        <label for="file">Selecione seu arquivo .csv</label>
                                        <input type="file" class="form-control-file" id="file" name="file">
                                    </div>
                                </form>
                                <div style="border: none;" class="btn ml-auto download-button d-none d-md-block"></div>
                                <button type="button" id="btnCancelar" onclick="location.reload()" style="display: none;" class="btn purchase-button mt-4 mt-md-0">Resetar</button>
                                <button type="button" id="btnAtualizar" onclick="sendTable()" class="btn purchase-button mt-4 mt-md-0" disabled>Atualizar Cadastros</button>
                            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Profissionais</h4>
                    <div class="table-responsive">
                        <center id="notSelected">Por favor, selecionar a tabela e aguardar o carregamento.</center>
                        <table id="tabelaCSV" class="table table-bordered">
                            <thead>
                            <tr>

                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    <script>
            var data = [];
            var header_count = 0;

            $("#file").change(function (evt) {
                var file = evt.target.files[0];
                $('#ajaxLoader').show();
                $("#file").prop('disabled', true);
                $("#btnCancelar").show();
                $("#notSelected").hide();

                Papa.parse(file, {
                    header: false,
                    worker: true,
                    preview: 100,
                    complete: function (result) {
                        data = [];
                        data["header"] = result["data"].shift();
                        data["data"] = result["data"];
                        data["length"] = result["data"].length;
                        data["delimiter"] = result["meta"]["delimiter"];
                        processTable();
                    }
                })
            });

            function addTH(row_id, row_name)
            {
                var select = "";
                select += '<th>';
                select += '<select id="row{id}">';
                select += '<option value="0">Inscrição</option>';
                select += '<option value="1">Nome</option>';
                select += '<option value="2">Endereço</option>';
                select += '<option value="3">Bairro</option>';
                select += '<option value="4">UF</option>';
                select += '<option value="5">Municipio</option>';
                select += '<option value="6">CEP</option>';
                select += '<option value="7">Telefone 1</option>';
                select += '<option value="8">Telefone 2</option>';
                select += '<option value="9">CPF/CNPJ</option>';
                select += '<option value="10">Debito</option>';
                select += '<option value="11">Inscrição Tecnico Responsavel</option>';
                select += '<option value="12">Nome Tecnico Responsavel</option>';
                select += '<option value="13">Identidade Tecnico Responsavel</option>';
                select += '<option value="14">Emissor Tecnico Responsavel</option>';
                select += '<option value="15">UF Tecnico Responsavel</option>';
                select += '<option value="16">Estado Civil</option>';
                select += '<option value="17">Sexo</option>';
                select += '<option value="18">Nacionalidade</option>';
                select += '<option value="19">Cancelado</option>';
                select += '<option value="20">Email 1</option>';
                select += '<option value="21">Email 2</option>';
                select += '<option value="22">Data CRO</option>';
                select += '<option value="23">Capital Social</option>';
                select += '<option value="24">Data Requerimento</option>';
                select += '</select>';
                select += '<br>';
                select += '<span style="font-size: 12px;">Nome Original: {originalName}</span>';
                select += '</th>';

                var tmp = select.replace('{id}', row_id).replace('{originalName}', row_name);
                var th = $("#tabelaCSV > thead > tr");

                th.append(tmp);
                var opt_id = 0;

                switch (row_name) {
                    case 'Inscricao':
                        opt_id = 0;
                        break;
                    case 'Nome':
                        opt_id = 1;
                        break;
                    case 'Endereco':
                        opt_id = 2;
                        break;
                    case 'Bairro':
                        opt_id = 3;
                        break;
                    case 'UF':
                        if( row_id < 5 )
                        {
                            opt_id = 4;
                        }else{
                            opt_id = 15;
                        }
                        break;
                    case 'Municipio':
                        opt_id = 5;
                        break;
                    case 'CEP':
                        opt_id = 6;
                        break;
                    case 'Telefone_1':
                        opt_id = 7;
                        break;
                    case 'Telefone_2':
                        opt_id = 8;
                        break;
                    case 'CPF/CNPJ':
                        opt_id = 9;
                        break;
                    case 'Debito':
                        opt_id = 10;
                        break;
                    case 'InscRespTec':
                        opt_id = 11;
                        break;
                    case 'NomeRespTec':
                        opt_id = 12;
                        break;
                    case 'Ident':
                        opt_id = 13;
                        break;
                    case 'Emissor':
                        opt_id = 14;
                        break;
                    case 'EstCivil':
                        opt_id = 16;
                        break;
                    case 'Sexo':
                        opt_id = 17;
                        break;
                    case 'Nacionalidade':
                        opt_id = 18;
                        break;
                    case 'Cancelado':
                        opt_id = 19;
                        break;
                    case 'Email_1':
                        opt_id = 20;
                        break;
                    case 'Email_2':
                        opt_id = 21;
                        break;
                    case 'Data_CRO':
                        opt_id = 22;
                        break;
                    case 'Capital_Social':
                        opt_id = 23;
                        break;
                    case 'Data_Requerimento':
                        opt_id = 24;
                        break;
                }

                $('#row' + row_id + ' option[value="'+opt_id+'"]').prop('selected', true);

            }

            function addTR(arr) {
                var tr_type = "";

                tr_type += '<tr>';
                for(var i = 0; i < header_count+1; i++){
                    tr_type += '<td>{col'+i+'}</td>';
                }
                tr_type += '</tr>';

                var tmp = tr_type;

                for(var i = 0; i < header_count+1; i++){
                    tmp = tmp.replace('{col'+i+'}', arr[i]);
                }

                var tbody = $("#tabelaCSV > tbody");
                tbody.append(tmp);
            }

            function processTable() {

                var th = $("#tabelaCSV > thead > tr");
                var header = data["header"];
                var list = data["data"];
                var len = data["length"];

                th.innerHTML = "";

                header_count = header.length - 1;

                header.forEach((el, i) => {
                    addTH(i, el);
                });

                list.forEach((el, i) => {
                    var arr = Object.values(el);
                    addTR(arr);
                });

                $('#tabelaCSV').DataTable();
                $('#ajaxLoader').hide();

                $('#btnAtualizar').prop('disabled', false);

            }

            function sendTable() {

                var col_to_csv = [];

                data["header"].forEach((el, i) => {
                    var selected = $('#row'+i+' option:selected').val();
                    var tmp = {
                        index: i,
                        selected: selected
                    };
                    col_to_csv.push(tmp);
                });

                var form = new FormData();
                form.append("col_to_csv", JSON.stringify(col_to_csv));
                form.append("file", $('#file')[0].files[0]);
                form.append("delimiter", data["delimiter"]);

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('upload_file') }}",
                    data: form,
                    dataType: 'json',
                    contentType: false,
                    cache: false,
                    processData: false,
                    beforeSend: function () {
                        $('#btnAtualizar').prop('disabled', true);
                    },
                    success: function (response) {
                        window.location.href = "{{ url_for('home_route.home') }}";
                    }
                })

            }

    </script>
{% endblock %}