<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Financeiro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendors/css/vendor.bundle.addons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/compro-pagamento.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='admin/images/favicon.png') }}" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
</head>

<body>
    <div class="container-scroller">
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="{{ url_for('home_route.home') }}">
                    <img style="margin-top: 15px;" src="{{ url_for('static', filename='admin/images/logo.png') }}" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="{{ url_for('home_route.home') }}">
                    <img src="{{ url_for('static', filename='admin/images/logo.png') }}" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                    <li class="nav-item {% if request.endpoint == 'home_route.home' %}active{% endif %}">
                        <a href="{{ url_for('home_route.home') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item {% if request.endpoint == 'relatorios_route.reletorios' %}active{% endif %}">
                        <a href="{{ url_for('relatorios_route.reletorios') }}" class="nav-link">
                            <i class="mdi mdi-elevation-rise"></i>Relatórios</a>
                    </li>
                    <li class="nav-item {% if request.endpoint == 'atualizacao_route.atualizacao' %}active{% endif %}">
                        <a href="{{ url_for('atualizacao_route.atualizacao') }}" class="nav-link">
                            <i class="mdi mdi-bookmark-plus-outline"></i>Atualizar Planilha</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Olá, {{ session.get('usuario_nome') }}</span>
                            <img class="img-xs rounded-circle" src="{{ url_for('static', filename='admin/images/faces/face1.jpg') }}" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a href="#" class="dropdown-item mt-2">
                                Dados da conta
                            </a>

                            <a href="{{ url_for('login_route.logout') }}" class="dropdown-item">
                                Sair
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">

                            </div>
                            <button class="btn btn-success btn-block">Imprimir dados
                            </button>
                        </div>
                    </li>
                    <li class="nav-item {% if request.endpoint == 'home_route.home' %}active{% endif %}">
                        <a href="{{ url_for('home_route.home') }}" class="nav-link">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item {% if request.endpoint == 'relatorios_route.reletorios' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('relatorios_route.reletorios') }}">
                            <i class="menu-icon mdi mdi-chart-line"></i>
                            <span class="menu-title">Relatórios</span>
                        </a>
                    </li>
                    <li class="nav-item {% if request.endpoint == 'atualizacao_route.atualizacao' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('atualizacao_route.atualizacao') }}">
                            <i class="menu-icon mdi mdi-backup-restore"></i>
                            <span class="menu-title">Atualização</span>
                        </a>
                    </li>
                    <li class="nav-item {% if request.endpoint == 'senha_acesso_route.senhas' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('senha_acesso_route.senhas') }}">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">Senhas e Acesso</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div id="ajaxLoader" style="position: absolute; z-index: 1000; background-color: rgba(255,255,255,0.9); height: 100%; width: 100%; padding-top: 25vh; display: none;">
                <center>
                    <h1>
                        Processando Aguarde!
                    </h1>
                    <img src="{{ url_for('static', filename='admin/images/loader.gif') }}" alt="Loading">
                </center>
            </div>
            <div class="main-panel">

                <div class="content-wrapper">

                    {% block body_content %}
                    
                    {% endblock %}                    

                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 -
                            <a href="" target="_blank"> Admin Financeiro</a>. Todos os diretos reservados.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Pop3 Soluções Web
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    {% block body_modals %}
    {% endblock %}

    <script src="{{ url_for('static', filename='admin/vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendors/js/vendor.bundle.addons.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/dashboard.js') }}"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='admin/js/papaparse.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/notify.js') }}"></script>
    <script>

        $(document).ready(function () {

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        $.notify("{{ message }}", "info");
                    {% endfor %}
                {% endif %}
            {% endwith %}

            $.get("{{ url_for('notification') }}", function (data) {
                data = JSON.parse(data);
                data.forEach(function (el, i) {
                    if ( el["type"] === "IMPORT_FINISHED" )
                    {
                        $.notify(el["message"], "success");
                    }
                });
            });
        });

        function checkStatus(){
            setTimeout(function () {
            $.get("{{ url_for('notification') }}", function (data) {
                data = JSON.parse(data);
                data.forEach(function (el, i) {
                    if ( el["type"] === "IMPORT_FINISHED" )
                    {
                        $.notify(el["message"], "success");
                    }
                });
            });
            checkStatus();
            }, 10 * 1000)
        }

        checkStatus();
    </script>
    
    {% block footer_scripts %}
    
    {% endblock %}

</body>

</html>