{% extends "admin/base.html" %}
{% block body_content %}

    <div class="row purchace-popup">
        <div class="col-12">
            <h3 style="margin-bottom: 15px;">Todos Valores Pendentes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Devedores</h4>

                    <form class="input-group mb-2">

                        <input type="text" name="search" class="form-control" id="inlineFormInputGroup"
                               placeholder="Pesquisar por Nome, Inscrição, E-mail e Telefone">
                        <div class="input-group-prepend">
                            <button type="submit" style="height: 45px;" class="input-group-text"><img width="20px;" src="{{ url_for('static', filename='admin/images/search.png') }}">
                            </button>
                        </div>
                    </form>


                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    Inscrição
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Financeiro
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Ano
                                </th>
                                <th>
                                    Telefone
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pagamento in todos_pagamentos %}

                            <tr>
                                <td class="font-weight-medium">
                                    {{ pagamento["inscricao"] }}
                                </td>
                                <td>
                                    {{ pagamento["nome"] }}
                                </td>

                                <td class="text-danger">
                                    <i class="mdi mdi-close"></i>
                                    Débito
                                </td>
                                <td>
                                    R$ {{ pagamento["valor"] }}
                                </td>

                                <td>
                                    {{ pagamento["ano"] }}
                                </td>
                                <td>
                                    {{ pagamento["telefone"] }}
                                </td>

                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <nav class="pull-right" aria-label="Page navigation example">
                        {{ paginacao|safe }}
                    </nav>


                </div>


            </div>
        </div>
    </div>
{% endblock %}