{% extends "admin/base.html" %}
{% block body_content %}
    <div class="row purchace-popup">
        <div class="col-12">
            <h3 style="margin-bottom: 15px;">Senhas e Acesso</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Profissionais</h4>


                    <form action="{{ url_for('senha_acesso_route.editar_profissional', id=id) }}" method="post">

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>ID</label>
                                    <input type="text" name="txtId" class="form-control" value="{{ dados["Id"] }}" id="txtId"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Inscrição</label>
                                    <input type="text" name="txtInscricao" class="form-control" value="{{ dados["Inscricao"] }}"
                                           id="txtInscricao" disabled>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" name="txtNome" class="form-control" value="{{ dados["Nome"] }}" id="txtNome"
                                           disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-Mail</label>
                                    <input type="text" name="txtEmail" class="form-control" value="{{ dados["Email"] }}"
                                           id="txtEmail">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-Mail</label>
                                    <input type="text" name="txtTelefone" class="form-control" value="{{ dados["Telefone"] }}"
                                           id="txtTelefone">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                  <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>

                    </form>


                </div>


            </div>
        </div>
    </div>
{% endblock %}