{% extends "admin/base.html" %}
{% block body_content %}

    <div class="row purchace-popup">
        <div class="col-12">
                            <span class="d-block d-md-flex align-items-center">
                                <p style="margin-top: 16px; font-size: 16px;">Verificação de pagamentos </p>
                                <a class="btn ml-auto download-button d-none d-md-block"
                                   href="{{ url_for('home_route.geral') }}">Pagamentos Geral</a>
                                <a class="btn purchase-button mt-4 mt-md-0" href="{{ url_for('home_route.home') }}">Pagamentos Hoje</a>
                            </span>
        </div>
    </div>
    <form action="{{ url_for('home_route.home') }}" method="POST">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="txtDataInicial">Data Inicial</label>
                    <input type="date" class="form-control" id="txtDataInicial" name="txtDataInicial"
                           value="{{ txtDataInicial }}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="txtDataFinal">Data Final</label>
                    <input type="date" class="form-control" id="txtDataFinal" name="txtDataFinal"
                           value="{{ txtDataFinal }}">
                </div>
            </div>
            <div class="col-md-2">
                <div style="height: 35px;"></div>
                <button type="submit" style="" class="btn btn-primary">Filtrar</button>
            </div>
            <div class="offset-md-4 col-md-2">
                <div style="height: 60px;"></div>
                Total de Pagamentos: R$ {{ valor_total_pago }}
            </div>
        </div>
    </form>
    <div class="row">


        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-cash text-success icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Valor liberado para saque</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">R$ {{ valor_liberado_para_saque["VALOR_LIBERADO_PARA_SAQUE"] }}</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-close-circle text-warning icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Há liberar</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">R$ {{ valor_ha_liberar["VALOR_A_LIBERAR"] }}</h3>
                            </div>
                        </div>
                    </div>
                    {#                    <p class="text-muted mt-3 mb-0">#}
                    {#                        <a href="{{ url_for('home_route.haliberar') }}"><i class="mdi mdi-calendar mr-1"#}
                    {#                                                                           aria-hidden="true"></i> Data de#}
                    {#                            Liberação</a>#}
                    {#                    </p>#}
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-receipt text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Valor em pendências</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">R$ {{ valor_total_pendencias }}</h3>
                            </div>
                        </div>
                    </div>
                    {#                    <p class="text-muted mt-3 mb-0">#}
                    {#                        <a href="{{ url_for('home_route.devedores') }}"><i class="mdi mdi-bookmark-outline mr-1"#}
                    {#                                                                           aria-hidden="true"></i> Ver#}
                    {#                            todas em aberto</a>#}
                    {#                    </p>#}
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-poll-box text-dark icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Total Pagamentos para CRO</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">R$ {{ valor_liberado_para_saque["TOTAL_PAGAMENTOS_PARA_CRO"] }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-poll-box text-dark icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Total Pagamentos para CFO</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">R$ {{ valor_liberado_para_saque["TOTAL_PAGAMENTOS_PARA_CFO"] }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-poll-box text-dark icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Total Pagamentos CRO + CFO</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">R$ {{ valor_liberado_para_saque["TOTAL_PAGAMENTOS_CRO+CFO"] }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">últimas Transações</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Inscrição
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Forma
                                </th>
                                <th>
                                    Ano
                                </th>
                                <th>
                                    Detalhes
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transacao in ultimas_transacoes %}

                                <tr>
                                    <td class="font-weight-medium">
                                        {{ transacao["id"] }}
                                    </td>
                                    <td>
                                        {{ transacao["str_nome"] }}
                                    </td>
                                    <td>
                                        {{ transacao["str_inscricao"] }}
                                    </td>
                                    <td>
                                        R$ {{ transacao["duo_valor"] }}
                                    </td>
                                    <td class="text-danger">
                                        <i class="mdi mdi-credit-card"></i>
                                        Cartão
                                    </td>
                                    <td>
                                        {{ transacao["str_ano"] }}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                                data-target="#exampleModalboleto">Detalhes
                                        </button>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    <script>
        function filtrar() {
            var dataInicial = $("#txtDataInicial").val();
            var dataFinal = $("#txtDataFinal").val();


        }
    </script>
{% endblock %}