{% extends "admin/base.html" %}
{% block body_content %}
    <div class="row purchace-popup">
        <div class="col-12">
            <h3 style="margin-bottom: 15px;">Todos os Pagamentos</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pagamentos realizados</h4>

                    <div class="input-group mb-2">

                        <input type="text" class="form-control" id="inlineFormInputGroup"
                               placeholder="Pesquisar por Nome, Inscrição, E-mail e Telefone">
                        <div class="input-group-prepend">
                            <a href="#">
                                <div style="height: 45px;" class="input-group-text"><img width="20px;"
                                                                                         src="{{ url_for('static', filename='admin/images/search.png') }}"></div>
                            </a>
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Inscrição
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Forma
                                </th>
                                <th>
                                    Ano
                                </th>
                                <th>
                                    Detalhes
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="font-weight-medium">
                                    1
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 77.99
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Boleto
                                </td>
                                <td>
                                    18
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    2
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 245.30
                                </td>
                                <td class="text-success">
                                    <i class="mdi mdi-credit-card-multiple"></i>
                                    Cartão
                                </td>
                                <td>
                                    18 / 19
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    3
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 138.00
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Boleto
                                </td>
                                <td>
                                    19
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    4
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 77.99
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Boleto
                                </td>
                                <td>
                                    18
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    5
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 160.25
                                </td>
                                <td class="text-success">
                                    <i class="mdi mdi-credit-card-multiple"></i>
                                    Cartão
                                </td>
                                <td>
                                    19
                                </td>

                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    6
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 150.00
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Boleto
                                </td>
                                <td>
                                    19
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    7
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 150.00
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Boleto
                                </td>
                                <td>
                                    19
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    8
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 150.00
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Boleto
                                </td>
                                <td>
                                    19
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    9
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 150.00
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Boleto
                                </td>
                                <td>
                                    19
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    10
                                </td>
                                <td>
                                    Fulano Silva
                                </td>
                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 150.00
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Boleto
                                </td>
                                <td>
                                    19
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#exampleModalcartao">Detalhes
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <nav class="pull-right" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}