{% extends "admin/base.html" %}
{% block body_content %}
    <div class="row purchace-popup">
        <div class="col-12">
            <h3 style="margin-bottom: 15px;">Senhas e Acesso</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Profissionais</h4>

                    <form method="get" class="input-group mb-2">

                        <input type="text" class="form-control" id="search" name="search"
                               placeholder="Pesquisar por Nome, Inscrição, E-mail e Telefone">
                        <div class="input-group-prepend">
                            <a href="#">
                                <div style="height: 45px;" class="input-group-text"><img width="20px;"
                                                                                         src="{{ url_for('static', filename='admin/images/search.png') }}"></div>
                            </a>
                        </div>
                    </form>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Inscrição
                                </th>
                                <th>
                                    E-mail
                                </th>
                                <th>
                                    Telefone
                                </th>

                                <th>
                                    Enviar Login e Senha
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for associado in associados %}

                            <tr>
                                <td class="font-weight-medium">
                                    {{ associado["ID"] }}
                                </td>
                                <td>
                                    {{ associado["Nome"] }}
                                </td>
                                <td>
                                    {{ associado["Inscricao"] }}
                                </td>

                                <td>
                                    {{ associado["Email"] }}
                                </td>
                                <td>
                                    {{ associado["Telefone"] }}
                                </td>
                                <td>
                                    {% if sms_ativado %}
                                    <button type="button" class="space btn btn-danger">Enviar SMS</button>
                                    {% endif %}
                                    <button type="button" class="space btn btn-danger" onclick="enviarEmail({{ associado["ID"] }})">Enviar E-mail</button>
                                    <a href="{{ url_for('senha_acesso_route.editar_profissional', id=associado["ID"]) }}" class="btn btn-dark">Editar</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <nav class="pull-right" aria-label="Page navigation example">
                        {{ paginacao|safe }}
                    </nav>


                </div>


            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    <script>
        function enviarEmail(uid) {
            $.get("/rota/enviar_dados_de_login/" + uid, function (data) {
                data = data["retorno"];
                if( data["status"] === "EMAIL_SENDED" ){
                    $.notify("Email enviado com sucesso!", "success");
                }else if( data["status"] === "EMAIL_EMPTY" ){
                    $.notify("Email em branco! Não é possivel enviar.", "error");
                }
            });
        }
    </script>
{% endblock %}