{% extends "admin/base.html" %}
{% block body_content %}

    <div class="row purchace-popup">
        <div class="col-12">
            <h3 style="margin-bottom: 15px;">Valores Há Liberar</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Lista de Valores</h4>

                    <div class="input-group mb-2">

                        <input type="text" class="form-control" id="inlineFormInputGroup"
                               placeholder="Pesquisar por Protocolo, ID ou Data">
                        <div class="input-group-prepend">
                            <a href="#">
                                <div style="height: 45px;" class="input-group-text"><img width="20px;"
                                                                                         src="{{ url_for('static', filename='admin/images/search.png') }}"></div>
                            </a>
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>

                                <th>
                                    Protocolo
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Data
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="font-weight-medium">
                                    1
                                </td>

                                <td>
                                    45964
                                </td>
                                <td>
                                    R$ 2500.00
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Aguardando
                                </td>
                                <td>
                                    27/03/2019
                                </td>

                            </tr>
                            <tr>
                                <td class="font-weight-medium">
                                    2
                                </td>

                                <td>
                                    58964
                                </td>
                                <td>
                                    R$ 2500.00
                                </td>
                                <td class="text-danger">
                                    <i class="mdi mdi-barcode"></i>
                                    Aguardando
                                </td>
                                <td>
                                    28/03/2019
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--
                                                        <nav class="pull-right" aria-label="Page navigation example">
                                                            <ul class="pagination">
                                                                <li class="page-item">
                                                                    <a class="page-link" href="#" aria-label="Previous">
                                                                        <span aria-hidden="true">&laquo;</span>
                                                                        <span class="sr-only">Previous</span>
                                                                    </a>
                                                                </li>
                                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                                <li class="page-item">
                                                                    <a class="page-link" href="#" aria-label="Next">
                                                                        <span aria-hidden="true">&raquo;</span>
                                                                        <span class="sr-only">Next</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                    -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}