<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Financeiro Login Cliente</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendors/css/vendor.bundle.addons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/style.css') }}">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        <img width="200px" style="margin-bottom: 50px;" class="col-md-6 offset-md-3"
                             src="{{ url_for('static', filename='admin/images/logo-login.png') }}">
                        <form action="{{ url_for('cliente_login_route.recuperar_senha_cliente') }}" method="post">
                            {% with flash_data = get_flashed_messages() %}
                                {% if flash_data %}
                                    <div id="divMessage" class="alert alert-info alert-block">
                                        <strong>{{ flash_data[0] }}</strong>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <div class="form-group">
                                <label class="label">Inscrição</label>
                                <div class="input-group">

                                    <input type="text" id="txtLogin" name="txtLogin" class="form-control"
                                           placeholder="Número de Inscrição" required>
                                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary submit-btn btn-block">Recuperar senha</button>
                            </div>
                        </form>
                    </div>
                    <br><br><br>
                    <p class="footer-text text-center">copyright © 2019 Cliente Financeiro. Todos os Direitos
                        Reservados.</p>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ url_for('static', filename='admin/vendors/js/vendor.bundle.base.js') }}"></script>
<script src="{{ url_for('static', filename='admin/vendors/js/vendor.bundle.addons.js') }}"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="{{ url_for('static', filename='admin/js/off-canvas.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/misc.js') }}"></script>
<!-- endinject -->
</body>

</html>